{% extends '::base.html.twig' %}

{% block body -%}
           <div id="categ">
            {% for category in categories %}
                <div>
                    <div class="category">
                        <a href="{{ path('cat_show', { 'id': category.id }) }}">
                         <h1>{{ category.name }}</h1>
                        </a>
                    </div>


                </div>
            {% endfor %}
        </div>

    <div id="jobs">
        {% for job in jobs %}
            <div>
                <div class="job">
                    <a href="{{ path('job_show', { 'id': job.id }) }}">
                        <h1>{{ job.url }}</h1>
                    </a>
                        {{ job.location }}
                        {{ job.position }}
                        {{ job.description }}

                </div>


            </div>
        {% endfor %}
    </div>



{% endblock %}
