{% extends '::base.html.twig' %}

{% block body -%}
    <div>
       <form>
          <input type="text" value="entrer un mot clé" name="motcle">
          <input type="button" value="submit">
       </form>

    </div>


        <div id="jobs">
            {% for category in categories %}
                <div>
                    <div class="category">
                        <h1>{{ category.name }}</h1>
                    </div>
                    <table>
                        {% for entity in category.tabjobs %}
                            <a href="{{ path('job_show', { 'id': entity.id }) }}">
                                {{ entity.location }}
                            </a>
                            {{ entity.position }}
                            <td class="company">{{ entity.company }}</td>

                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>


{% endblock %}
