{% extends '::base.html.twig' %}

{% block body -%}


    <div id="page">
        <div id="header">
            <img src="{{ asset('bundles/myjobeet/images/job.png') }}" alt="test" width="50" height="50"/>
        </div>
        <div id="container">

            <div id="menu">
                <div class="row">
                    <div class="col-xs-12">
                        {% for category in categories %}
                        <ul class="nav nav-pills nav-stacked">
                            <a href="{{ path('job', { 'category': category.id}) }}">
                                <li> {{ category.name }}</li>
                            </a>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="jobs">
                <div class="row">
                    <h2>Offres</h2>

                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>URL</th>
                                <th>Location</th>
                                <th>Description</th>
                                <th>Show</th>
                                <th>Postulé</th>
                            </tr>
                            </thead>
                            {% for job in jobs %}
                                <tbody>
                                <tr>
                                    <td> {{ job.url }}</td>
                                    <td> {{ job.location }} </td>
                                    <td>{{ job.description }}</td>
                                    <td><a href="{{ path('job_show', { 'id': job.id }) }}"> show </a>
                                    </td>
                                    <td>
                                        <form action="{{ path('job_postule', { 'email': job.email }) }}"
                                              method="post">
                                            <button type="submit">Publish</button>
                                        </form>
                                    </td>
                                </tr>

                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-left">
            <a href="{{ path('job') }}">
                Back to the list
            </a>
        </p>
    </div>






{% endblock %}
